<form>
     <fieldset>
       <table align="right" width="30%">
            <tr>
                <th>Components</th>
                <td>1</td>
            </tr>
             <tr>
                <th>Attempts</th>
                <td>2</td>
            </tr>
             <tr>
                <th>Comp Ratio</th>
                <td>3</td>
            </tr>
             <tr>
                <th>Yards</th>
                <td>4</td>
            </tr>
             <tr>
                <th>TDs</th>
                <td>5</td>
            </tr>
             <tr>
                <th>Interceptions</th>
                <td>6</td>
            </tr>

        </table>

        <h2><b>{{userinfo.name}}</b></h2>
        <p><b>Age:  </b>{{userinfo.age}}</p>
        <p><b>Hometown:  </b>{{userinfo.hometown}}</p>
        <p><b>School:  </b>{{userinfo.school}}</p>
      
        </fieldset>

        <fieldset>
        <table width="100%">
            <tr>
                <th>Opponent</th>
                <th>Location</th> 
                <th>Date</th>
                <th> </th>
            </tr>
            
            {{#each userinfo}}
                {{#each game}}
                    <tr align="center">
                        <td>{{opponent}}</td>
                        <td>{{location}}</td>
                        <td>{{date}}</td>
                        <td><a href='/update/{{userinfo.name}}'>Edit</a></td>
                    </tr>
                {{/each}}
            {{/each}}
    
        </table>

        <Button type="submit"><a href='/game/{{userinfo.name}}'>Add Game</Button>


   </fieldset>

    <style>
        fieldset {
            display: block;
            border-spacing: 1px groove;
            padding: 10px 20px;
        }

        table, th, td{
             border: 1px solid black;
        }  

        button{
            background-color: #008CBA;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            float: right;
        }

    </style>
</form>