<h1>Ballot for District {{district}}, voter {{voterId}}</h1>
<form method="post" action="/vote">
    <input type="hidden" name="district" value="{{district}}"/>
    <input type="hidden" name="voterId" value="{{voterId}}">

    {{!-- --}}
    {{#each races}}
        <fieldset>
            <legend>{{office}}</legend>
            {{#each candidates}}
                <input type="radio" id="{{../id}}" name="{{../id}}" value="{{name}}"/>
                <label for="{{../id}}">
                    {{name}}
                    {{#if party}}
                        {{party}}
                    {{/if}}
                </label><br/>
            {{/each}}
        </fieldset>
    {{/each}}
    <input type="submit" value="Submit">
</form>